fastapi==0.108.0
whatsapp-python==4.0.2
# supabase==2.3.5
aioredis
pymemcache
jsonpath_ng
uncurl
pymongo==4.3.3
pymongocrypt
typing_extensions==4.12.2
# langchain
# langchain-community
# chromadb
# jq
# sentence_transformers
# langchain-openai